
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');

h1 {
  font-family: 'Lobster Two', cursive;
}

li {
  font-family: 'Lobster Two', Georgia;
}

ul ul {
  list-style-type: circle;
}

#ingredients li { 
  font-family: Arial;
  font-color: yellow;
}

#ingredients li span {
  font-style: italic;
  color: #ff0000;
}

#equipment li:nth-child(3) {
  color: red;
}

#directions li {
  font-family: Arial;
  background-color: yellow;
  
}